<div>
  <p>
    {{ loggedInUser ? 'Logged in as ' + loggedInUser.name : 'Not logged in' }}
  </p>

  <div>
    <input type="email" placeholder="Email" [(ngModel)]="email" />
    <input type="password" placeholder="Password" [(ngModel)]="password" />
    <input type="text" placeholder="Name" [(ngModel)]="name" />

    <button (click)="login(email, password)">
      Login
    </button>

    <button (click)="register(email, password, name)">
      Register
    </button>

    <button (click)="logout()">
      Logout
    </button>
  </div>
</div>

<div>
  <h2>Mis Tareas</h2>

  <!-- Formulario para agregar tarea -->
  <form (ngSubmit)="addTask()" #taskForm="ngForm">
    <input
      type="text"
      placeholder="Título"
      [(ngModel)]="newTask.title"
      name="title"
      required
    />
    <input
      type="text"
      placeholder="Descripción"
      [(ngModel)]="newTask.description"
      name="description"
      required
    />
    <button type="submit" [disabled]="taskForm.invalid">➕ Agregar tarea</button>
  </form>

  <hr />

  <!-- Lista de tareas -->
  <ul>
    <li *ngFor="let task of tasks">
      <span [style.textDecoration]="task.status ? 'line-through' : 'none'">
        {{ task.title }} - {{ task.description }}
      </span>

      <button (click)="updateTask(task)">
        {{ task.status ? 'Marcar pendiente' : 'Completar' }}
      </button>

      <button (click)="deleteTask(task)">❌ Eliminar</button>
    </li>
  </ul>
</div>

<app-gestor-apuestas></app-gestor-apuestas>


<router-outlet />
